@import '@scss-variables/colors.scss';

.filter-button {
  background-color: transparent;

  border: 2px solid $green;
  border-radius: 4px;

  color: $black;

  padding: 8px 16px;

  transition: 0.2s ease-in-out;

  &.active {
    background-color: $green;
    color: #fff;
  }

  &:hover {
    background-color: $green;
    color: #fff;
  }
}
