.bicycle-card {
  $borde-radius: 4px;

  display: flex;
  flex-flow: column;

  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);

  background-color: #fafafa;

  border-radius: $borde-radius;

  img {
    width: 100%;
    height: 250px;
    object-fit: contain;

    background-color: #fff;

    border-radius: $borde-radius $borde-radius 0 0;
  }
}

.bicycle-card-data {
  padding: 16px 10px;
}

.bicycle-cards-hours {
  display: flex;
  flex-flow: row nowrap;
}
