@import '@scss-variables/colors.scss';
@import '@scss-variables/margins.scss';
@import '@scss-mixins/breakpoints.scss';

.booking-panel {
  margin-top: 20px;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 12px;
}

.booking-panel-title {
  font-weight: 400;
}

.booking-button,
.booking-button-confirm {
  padding: 8px 12px;

  border-radius: 4px;
  color: #fff;
}

.booking-button {
  background-color: $blue;
}

.booking-button-confirm {
  background-color: $green;

  @include smaller-than(520px + ($side-margins-x-small * 2)) {
    width: 100%;
    padding: 20px;
  }
}
