@import '@scss-variables/colors.scss';
@import '@scss-variables/sizes.scss';
@import '@scss-variables/margins.scss';
@import '@scss-mixins/breakpoints.scss';
@import '@scss-mixins/margins.scss';

header {
  height: 60px;
  background-color: $blue;
  margin-bottom: 40px;
  padding: 16px;

  box-shadow: 2px 2px 2px 0 rgba($black, 0.6);
}

nav {
  margin: 0 auto;
  max-width: $max-content-width;
  @include main-side-content-margins();
}

.nav-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;

  list-style: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;

  &.active {
    text-decoration: underline;
    text-decoration-color: $yellow;
  }
}
