@import '@scss/fonts.scss';
@import '@scss-variables/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;

  font-family: 'Open Sans', Sans-Serif;

  color: $black;
}

input {
  font-family: 'Open Sans', Sans-Serif;
}
input,
button,
a {
  &:focus,
  &:active {
    outline: 4px solid #2dcaff;
  }
}

h1,
h2,
h3,
h4,
h4,
h6 {
  font-family: 'Ubuntu', Sans-Serif;
}

label {
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;

  transition: 0.2s ease-in-out;

  &:hover {
    filter: brightness(1.05);
  }
}
